<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <application tools:node="merge">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="false"
            android:theme="@style/SplashTheme" />

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.MimeTypesActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.ReadTextActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/file_editor"
            android:theme="@style/AppTheme"
            tools:targetApi="n" />

        <activity
            android:name="org.fossify.filemanager.activities.DecompressActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/decompress"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".activities.SaveAsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/save_as"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".activities.FavoritesActivity"
            android:configChanges="orientation"
            android:label="@string/favorites"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="org.fossify.commons.activities.AboutActivity"
            android:configChanges="orientation"
            android:label="@string/about"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="org.fossify.commons.activities.CustomizationActivity"
            android:configChanges="orientation"
            android:label="@string/customize_colors"
            android:parentActivityName=".activities.SettingsActivity"
            android:theme="@style/AppTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.termux.filemanager.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
